<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>

    <title><%= data.page.seo_title || data.page.title %> - Amoeba Consulting | Web and Mobile Application Development</title>

    <!-- SEO / Sharing Tags -->
    <meta name="description" content="<%= data.page.seo_description || data.page.summary || Nokogiri::HTML(current_article.summary).text.gsub(/\n+/, ' ') %>"/>
    <link rel="canonical" href="http://amoe.ba<%=current_article.url %>" />

    <meta property='og:locale' content='en_US'/>
    <meta property='og:type' content='article'/>
    <meta property='og:title' content='<%= data.page.fb_title || data.page.seo_title || data.page.title %>'/>
    <meta property='og:description' content='<%= data.page.fb_description || data.page.summary || Nokogiri::HTML(current_article.summary).text.gsub(/\n+/, ' ') %>'/>
    <meta property='og:url' content='http://amoe.ba<%=current_article.url %>'/>
    <meta property='og:site_name' content='Amoeba Consulting Blog'/>
    <meta property='og:image' content='http://amoe.ba<%= article_preview_image_path(current_article) %>'/>
    <meta property='fb:app_id' content='336052043168831'/>
    <meta property="fb:admins" content="47700427" />

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:url" content="http://amoe.ba<%=current_article.url %>"/>
    <meta name="twitter:site" content="@AmoebaSoft"/>
    <meta name='twitter:image' content='http://amoe.ba<%= article_preview_image_path(current_article) %>'/>
    <meta name="twitter:title" content="<%= data.page.seo_title || data.page.title %>"/>
    <meta name="twitter:description" content="<%= data.page.twitter_description || data.page.summary || Nokogiri::HTML(current_article.summary).text.gsub(/\n+/, ' ') %>"/>

    <% if data.team[data.page.author].gplus.present? %>
    <link rel="author" href="http://plus.google.com/<%= data.team[data.page.author].gplus %>"/>
    <% end %>
    <% if data.team[data.page.author].twitter.present? %>
    <meta name="twitter:creator" content="@<%= data.team[data.page.author].twitter %>"/>
    <% end %>

    <link rel=”publisher” href=”https://plus.google.com/u/0/107440881665995164447“/>
    <!-- / SEO / Sharing Tags -->
  </head>

  <body class="blog-wrapper">
    <div id="blog-article" role="main">
      <div class="article-content">
        <article>
          <header>
            <h1 class="title"><%= current_article.title %></h1>
            <div class="article-info">
              By <%= data.page.author.capitalize %> On <%= current_article.date.strftime('%b %e %Y') %>
              In <%= link_to current_article.tags.first, tag_path(current_article.tags.first) %>
            </div>
          </header>
          <%= yield %>

        </article>

        <section class="sidebar">
          <div class="article-list">
            <h2>Recent Articles</h2>
            <ul>
              <% blog.articles[0...10].each do |article| %>
                <li><%= link_to article.title, article %>
                  <!--<span><#%= article.date.strftime('%b %e') %></span>-->
                </li>
              <% end %>
            </ul>
          </div>
          <div class="category-list">
            <h2>Categories</h2>
            <ul class="tags">
              <% blog.tags.each do |tag, articles| %>
                <li class="tag"><%= link_to tag, tag_path(tag) %>
                  <!--(<%#= articles.size %>)-->
                </li>
              <% end %>
            </ul>
          </div>
          <!--<div class="archive-list">-->
          <!--<h2>Archives</h2>-->
          <!--<ul>-->
          <%# blog.articles.find_all {|a| a.date >= Date.today-365 }
#               .group_by {|a| Date.new(a.date.year, a.date.month) }
               .each do |date, articles| %>
          <!--<li><%#= link_to date.strftime("%B %Y"), blog_month_path(date.year, date.month) %> (<#%= articles.size %>)</li>-->
          <!--<%# end %>-->
          <!--</ul>-->
          <!--</div>-->
          <div class="promo-email">
            <h2>Sign up for email</h2>
            <%= partial "partials/mailchimp_signup" %>
          </div>
        </section>
      </div>
      <%= partial "partials/social_bar" %>
      <footer>
        <div class="article-author">
          <% if image_exists?("team/#{data.page.author}") %>
            <%= image_tag "team/#{data.page.author}.png", :alt => "#{data.page.author.capitalize}'s picture" %>
          <% end %>
            <h1>About Author</h1>
            <h2><%= data.team[data.page.author].name %> (<%= link_to "@#{data.team[data.page.author].twitter}", "http://twitter.com/#{data.team[data.page.author].twitter}" %>)</h2>

            <% data.team[data.page.author].bio.each do |pgraph| %>
              <p><%= pgraph %></p>
            <% end %>
        </div>

        <div class="article-comments">
          <%= partial "partials/disqus" %>
        </div>
      </footer>
    </div>

    <%= partial "partials/ga" %>
    <script type='text/javascript' src='http://platform.twitter.com/widgets.js?ver=3.5.1'></script>
    <script type='text/javascript' src='http://apis.google.com/js/plusone.js?ver=3.5.1'></script>
    <script type='text/javascript' src='http://platform.linkedin.com/in.js?ver=3.5.1'></script>
    <script type='text/javascript' src='http://assets.pinterest.com/js/pinit.js?ver=3.5.1'></script>
  </body>
</html>
