<!doctype html>
<html>
  <head>
    <%= partial "partials/head" %>

    <title><%= data.page.title || "Amoeba Consulting | Web and Mobile Application Development" %></title>

    <!-- SEO / Sharing Tags -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@AmoebaSoft">
    <meta name="twitter:creator" content="@AmoebaSoft">
    <meta name='twitter:image' content='http://amoe.ba/images/external/mascot-square-200px.png'>
    <meta name="twitter:description" content="Amoeba Consulting, LLC is a San Francisco based software development firm focused on providing companies with top quality Web, Desktop, and Mobile Applications.">
    <meta property='og:locale' content='en_US'/>
    <meta property='fb:app_id' content='336052043168831'/>
    <meta property='og:title' content='Amoeba Consulting'/>
    <meta property='og:description' content='Amoeba Consulting, LLC is a San Francisco based software development firm focused on providing companies with top quality Web, Desktop, and Mobile Applications.'/>
    <meta property='og:url' content='http://amoe.ba/'/>
    <meta property='og:site_name' content='Amoeba Consulting'/>
    <meta property='og:type' content='article'/>
    <meta property='og:image' content='http://amoe.ba/images/external/mascot-square-200px.png'/>
    <!-- / SEO / Sharing Tags -->
  </head>

  <body>
  <%= yield %>

  <h1>Image Gallery </h1>
  <%= gallery_div(data.gallery.htf6, "staff") %>
  <%= gallery_div(data.gallery.htf6, "kids") %>


  <%= partial "partials/ga" %>
  </body>
</html>