---
pageable: true
per_page: 10
---

<section id="blog-index">
  <div class="article-list">
    <% page_articles.each_with_index do |article, i| %>
      <article>
          <div class="image-container">
            <% if article.data.image %>
              <%= image_tag "blog/#{article.data.image}", :alt => "preview" %>
            <% end %>
          </div>
        <div class="article-info">
          <h2><%= link_to article.title, article %></h2>
          <!--<h3>By <#%= data.team[article.data.author].name %></h3>-->
          <p><%= link_to article.data.summary || article.summary, article %></p>
          <%= link_to "More...", article %>
        </div>
      </article>
    <% end %>
  </div>

  <div class="sidebar">
    <div class="category-list">
      <h2>Categories</h2>
      <ul class="tags">
        <% blog.tags.each do |tag, articles| %>
          <li class="tag"><%= link_to tag, tag_path(tag) %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="promo-email">
      <h2>Sign up for email</h2>
      <%= partial "partials/mailchimp_signup" %>
    </div>
  </div>
</section>

<% if paginate %>
<nav>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>

  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
</nav>
<% end %>