---
title: Welcome to Amoeba
---
<div id="iesucks" class="hidden">
  <h1>You are using an <strong>outdated</strong> browser.</h1>
  <img alt="dancing baby" src="images/baby.gif">
  <p>Please <a href="http://browsehappy.com/">upgrade your browser</a><br />
    or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a><br />
    to improve your experience.</p>
  <div class="clearfix"><br/><br/></div>
</div>

<div id="header" class="hidden">
  <h1><a href="/">Amoeba</a><sup>SM</sup></h1>

  <div class="header-right">
    <span id="mobile-button">
      <span class="jump-to">Jump To</span>
      <i class="icon-reorder"></i>
    </span>
    <h2>Remarkable Development and Design</h2>
    <nav id="main">
      <ul>
        <li><a href="/team">Our Team</a></li>
        <li><a href="/contactus">Get In Touch</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
  </div>
</div>

<!-- Hidden on desktop browsers, but used on mobile devices for nav -->
<nav id="mobile-nav">
  <ul>
    <li><a href="/team">Our Team</a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="/contactus">Get In Touch</a></li>
  </ul>
</nav>

<div id="homepage">

  <a href="/">
    <%= image_tag 'mascot.svg', :alt => "Amoeba Character", :id => "mascot" %>
  </a>

  <div id="logo">
    <h1><a href="/">Amoeba</a><sup>SM</sup></h1>

    <h2>Remarkable Development and Design</h2>
    <nav>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/contactus">Get In Touch</a></li>
        <li><a href="/team">Our Team</a></li>
      </ul>
    </nav>
  </div>
  <div class="capabilities">
    <div class="capability-box web">
      <%= image_tag 'web_icon_b.svg', :alt => "Web Device", :class => "image-web-ignore" %>
      <%= image_tag 'web_icon.svg', :alt => "Web Device", :class => "img-web rollover" %>
      <h2>Web Applications</h2>

      <p>Agile tools like <a href="http://rubyonrails.org">Ruby on Rails</a> (RoR),
        <a href="http://backbonejs.org">Backbone.js</a>, <a href="http://emberjs.com">Ember.js</a>,
        and others allow us to deliver powerful web applications fast, for desktop and mobile.
      </p>
    </div>
    <div class="capability-box mobile">
      <%= image_tag 'mobile_icon_b.svg', :alt => "Mobile Device", :class => "image-mobile-ignore" %>
      <%= image_tag 'mobile_icon.svg', :alt => "Mobile Device", :class => "img-mobile rollover" %>
      <h2>Mobile Apps</h2>

      <p>We build native mobile apps for iOS and Android, as well as cross-platform mobile-web based apps.</p>
    </div>
    <div class="capability-box gap">
      <%= image_tag 'gap_icon_b.svg', :alt => "Person", :class => "image-gap-ignore" %>
      <%= image_tag 'gap_icon.svg', :alt => "Person", :class => "img-gap rollover" %>

      <h2>Filling The Gap</h2>

      <p>While we usually work with early stage projects, sometimes you need additional design and
        engineering rockstars to help move faster. Let's talk.</p>
    </div>
  </div>
  <div id="contact-questions" class="hidden">
    <h1>Amoeba<sup>SM</sup></h1>

    <h2>Interesting Projects? Suggestions? Questions?</h2>

    <div id="sayhi">
      <span class="geo-medium know">Let Us Know</span> - 
      <a href="mailto:sayhi@amoe.ba">sayhi@amoe.ba</a> <br>
      or <a href="tel:4153669900">(415)366-9900</a>
    </div>
  </div>
  <div id="contactus" class="hidden">
    <form id="contact-form" action="/contactus/submit" method="post">
      <div class="contact-form-group">
        <label for="contact-name">Name</label>
        <input type="text" id="contact-name"/>
      </div>
      <div class="contact-form-group">
        <label for="contact-company">Company</label>
        <input type="text" id="contact-company"/>
      </div>
      <div class="contact-form-group">
        <label for="contact-email">Email</label>
        <input type="text" id="contact-email"/>
      </div>
      <div class="contact-form-group">
        <textarea id="contact-message" rows=6></textarea>

        <p>Most inquiries are answered within 48 hours</p>
        <p class="error-message invisible">Error</p>
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </div>

  <%= partial "homepage/team" %>

  <div id="footer">
    <a href="http://facebook.com/AmoebaConsulting" target="_blank"><i class="icon-facebook-sign"></i></a>
    <a href="http://plus.google.com/107440881665995164447/" target="_blank"><i class="icon-google-plus-sign"></i></a>
    <a href="http://twitter.com/AmoebaSoft" target="_blank"><i class="icon-twitter-sign"></i></a>
    <a href="http://linkedin.com/company/amoeba-consulting-llc" target="_blank"><i class="icon-linkedin-sign"></i></a>
    <a href="https://github.com/AmoebaConsulting" target="_blank"><i class="icon-github-sign"></i></a>

    &copy;  <%= Time.now.year %> Amoeba Consulting, LLC
  </div>
</div>
